
<div class="wrapper">

    <div class="hero">

        <div class="header">
            <div class="title">
                <h1>Immigration News</h1>
                <button class="btn btn-primary" id="scrapeArt" type="submit">Scrape New Articles</button>
            </div>
            
        </div>

    </div>

    <div id="article-area">
    </div>

</div>