<div class="wrapper">

    <div class="hero">

        <div class="header">
            <div class="title">
                <h1>Immigration News</h1>
                <button class="btn btn-primary" id="saved" type="submit">Saved Articles</button>
                <button class="btn btn-primary" id="scrapeArt" type="submit">Scrape New Articles</button>
            </div>

        </div>

    </div>

    <!--Articles scraped gets displayed here-->
    <div id="article-area">
        {{#each results}}
        <ul>
            <p><a href={{this.link}}></a>{{this.title}}
            </p>
            <img src={{this.img}} />
            <button class="saveArt" data-artid="{{this._id}}">Save Article!</button>
            
        </ul>

        {{/each}}
    </div>

</div>