    <div id="article-area">
        {{#each results}}
        <li>
            <p >Title: {{this.title}}</p>
            <img src={{this.img}} />
            <button data-artid="{{this._id}}" id="comment">Add Comment!</button>
        </li>
        {{/each}}
    </div>

</div>